---
layout: default
title:
description: Aniket Dhole
featured_image:
---

<link rel="icon" href="https://i.ibb.co/0fLbzm8/Screenshot-2021-11-28-22-48-35.png" type="image/icon type">
<section class="intro">
    <div class="wrap row">
        <div class="col-lg-4 col-sm-12">
            <img src="/images/about_aerobat.jpg" class="about_img">
        </div>

        <div class="col-lg-8 col-sm-12 about">
            <h3>Hi, I am Aniket.</h3>
            </br>
            <p class="about_text"> I am a graduate student at Northeastern University in Boston for my <b>Masters of Science (MS) in Computer Vision and Machine Learning under Electrical and Computer Engineering (ECE)</b>. I have my undergrad at Pimpri Chinchwad College of Engineering in Computer Engineering, working on Computer Vision projects in Agriculture and Healthcare using Edge and Parallel Computing</p>
            
            
            <p>Currently am a <b>Research Assistant at SiliconSynapse Lab, Northeastern University</b>, working under the guidance of Professor Alireza Ramezani on simulation and testing of Legged+Aerial Robot named "Husky Carbon: A multimodal robot with aerial and walking capabilities". Also have been working on the Aerobat: bird-like flapping robot for autonomous control.</p>

            <p>I am the <b>Co-Founder and Software Engineer at Vuna Technologies (VunaTec)</b> where I was working on making Drones with Multispectral Cameras and a Farm Mapping Software to predict and avoid Pre-Harvest losses for farmers.</p>
        
            <p> I have experience in IoT Devices and Robotics, where I explored areas such as Computer Networks, Hardware Interfacing, Navigation, Inverse Kinematics and Path Planning of Robots.</p>

            <h6><a class="highlight_link" href="https://drive.google.com/file/d/1sd1eK3ujZl-0Ayr2IwNlb7aUdek5fIXG/view?usp=sharing">My Work Portfolio</a>     <a class="highlight_link" href="https://drive.google.com/file/d/1loWh3_kVaxDCQSHIILFeu7CMc7jH5kot/view?usp=sharing">Resume</a></h6>

        </div>
    </div>
</section>

<section class="listing single" id="research">
    <div class="wrap grey">
        <h1 class="divider">Research and Patent</h1>
        {% for project in site.research %}

        <article class="listing-post2">
<!--             <div class="listing-post__header">
                <h3 class="listing-post__title"><a href="{{ project.url | relative_url }}">{{ project.title }}</a></h3>
            </div> -->

            {% if project.featured_image %}
            <div class="row">
                <div class="col-lg-6 col-sm-12">
 <!--                    <a href="{{ project.url | relative_url }}" class="listing-post__image" style="background-image: url({{ project.featured_image | relative_url }});"></a> -->

                    <a class="listing-post__image" style="background-image: url({{ project.featured_image | relative_url }});"></a>
                </div>

                {% endif %}

                <div class="listing-post__content col-lg-6 col-sm-12">
                    <h6>{{ project.title }}</h6>
                    <p class="no_margin">{{ project.author }}</p>
                    <div class="proceeding">
                        <p class="no_margin r_pub"><i>{{ project.conference }}</i></p>
                        <p class="no_margin" id="award">{{ project.award }}</p>
                    </div>
                    
                    <p class="excerpt">{{ project.excerpt }}</p>
                    <span class="link">
                        <h6><a class="highlight_link" href="{{ project.paper_url  | relative_url }}">{{ project.paper_text }}</a></h6>
                        <h6><a class="highlight_link middle_link" href="{{ project.video_url  | relative_url }}">{{ project.video_text }}</a></h6>
                        <h6><a class="highlight_link" href="{{ project.talk_url  | relative_url }}">{{ project.talk_text }}</a></h6>
                    </span>
                </div>
            </div>

        </article>

        {% endfor %}

    </div>

</section>

<section class="listing single" id="selected_projects">
    <div class="wrap">
        <h1>Projects</h1>
        {% for post in paginator.posts %}
        <article class="listing-post">
            {% if post.featured_image %}
            <a href="{{ post.url | relative_url }}" class="listing-post__image" style="background-image: url({{ post.featured_image | relative_url }});"></a>
            {% endif %}
            <div class="listing-post__header">
                <h6 class="listing-post__title"><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h6>
                <p class="subtitle">{{ post.excerpt }}</p>
            </div>
            <div class="listing-post__content">
                <!-- <p>{{ post.excerpt }}</p> -->
                <!-- <p><a href="{{ post.url | relative_url }}" class="button">Read More</a> -->
            </div>
        </article>
        {% endfor %}
    </div>
</section>

<section class="listing single" id="workexp">
    <div class="wrap grey">
        <h1 class="divider">Work Experience</h1>
        
        <article class="listing-post2">
            
                        
                        <div class="row">
                            <div class="col-lg-4 col-sm-4">
                                <a class="listing-post__image__work" style="background-image: url(/images/sslab.png);"></a>
                            </div>
            
                            
            
                            <div class="listing-post__content col-lg-8 col-sm-12">
                                <h6>SiliconSynapse Lab, Northeastern University</h6>
                                <p class="no_margin work_title">Research Assistant</p>
                                <div class="proceeding">
                                    <p class="no_margin" id="award">September 2022 - Present</p>
                                </div>
                                
                                <p class="excerpt">● Devising development of a multimodal: aerial + legged robots focusing on testing of gait optimization and contact force analysis
                                    <br> ● Crafting position stabilization and control algorithms for aerial thrusters and leg joints, utilizing ROS, C++, Python and Matlab
                                    <br> ● Integrated and programmed drivers for various sensors like IMU, GPS, MoCap Cameras for EtherCat network to communicate with real time Speedgoat and STM32 controllers 
                                    <br> ● Currently researching on Position Estimation and Autonomous control of Tiny Flapping systems in enclosed environments using SLAM and Vision based methods
                            </br>
                                </p>
                                <span class="link">
                                    <h6><a class="highlight_link" href="https://web.northeastern.edu/silicon-synapse/">website</a></h6>
                                </span>
                            </div>
                        </div>
            
                    </article>

        <article class="listing-post2">
            
                        
                        <div class="row">
                            <div class="col-lg-4 col-sm-4">
                                <a class="listing-post__image__work" style="background-image: url(/images/nulogo.jpg);"></a>
                            </div>
            
                            
            
                            <div class="listing-post__content col-lg-8 col-sm-12">
                                <h6>Northeastern University</h6>
                                <p class="no_margin work_title">Teaching Assistant (EECE2150 : Circuits and Signals: Biomedical Applications)</p>
                                <div class="proceeding">
                                    <p class="no_margin" id="award">September 2023 - Present</p>
                                </div>
                                
                                <p class="excerpt">● Teaching Assistant for the EECE Circuits and Signals (Biomed Apps) Course, responsible for guiding 80 students in the analysis of circuits using tools like LTSpice and Matlab.
                                    <br> ● Collaborated with students on the implementation of intricate circuits for the purpose of reading and comprehending ECG signals, utilizing equipment such as oscilloscopes and multimeters.
                                    </br>
                                </p>
                                <span class="link">
                                    <h6><a class="highlight_link" href="https://ece.northeastern.edu/courses/eece2150/dimarzio/">website</a></h6>
                                </span>
                            </div>
                        </div>
            
                    </article>
        
         <article class="listing-post2">
            <!--             <div class="listing-post__header">
                            <h3 class="listing-post__title"><a href="/research/rp-mask.html">Portable IoT Device for Health Analysis and Management using Edge Computing</a></h3>
                        </div> -->
            
                        
                        <div class="row">
                            <div class="col-lg-4 col-sm-4">
             <!--                    <a href="/research/rp-mask.html" class="listing-post__image" style="background-image: url(/images/rp1.png);"></a> -->
            
                                <a class="listing-post__image__work" style="background-image: url(/images/vunatec.svg);"></a>
                            </div>
            
                            
            
                            <div class="listing-post__content col-lg-8 col-sm-12">
                                <h6>Vuna Technologies</h6>
                                <p class="no_margin work_title">Co-Founder and Software Engineer</p>
                                <div class="proceeding">
                                    <p class="no_margin" id="award">November 2021 - September 2022</p>
                                </div>
                                
                                <p class="excerpt">● Executed software and hardware integration for drones, cameras, and farm mapping, enabling Computer Vision-driven analysis of mango farms for plant health detection and harvest prediction using Python & Embedded C++
                                    <br>● Using techniques like NDVI(Normalized Difference Vegetation Index) and Object Detection to detect Disease and calculate Ripeness of fruits in farm.
                                    <br>● Used TinyML to deploy a Machine Learning model on a Arduino Nano BLE to predict the date of harvest using plant health and historical data
                                    <br>● Led and mentored a dynamic team of five developers, securing $20,000 in funding and overseeing all technical facets of startup</br>
                                </p>
                                <span class="link">
                                    <h6><a class="highlight_link" href="https://vunatec.com/">website</a></h6>
                                </span>
                            </div>
                        </div>
            
                    </article>



        <article class="listing-post2">
            <!--             <div class="listing-post__header">
                            <h3 class="listing-post__title"><a href="/research/rp-mask.html">Portable IoT Device for Health Analysis and Management using Edge Computing</a></h3>
                        </div> -->
            
                        
                        <div class="row">
                            <div class="col-lg-4 col-sm-4">
             <!--                    <a href="/research/rp-mask.html" class="listing-post__image" style="background-image: url(/images/rp1.png);"></a> -->
            
                                <a class="listing-post__image__work" style="background-image: url(/images/iotiot.png);"></a>
                            </div>
            
                            
            
                            <div class="listing-post__content col-lg-8 col-sm-12">
                                <h6>IoTIoT.in</h6>
                                <p class="no_margin work_title">IoT Intern</p>
                                <div class="proceeding">
                                    <p class="no_margin" id="award">June 2020 - December 2020</p>
                                </div>
                                
                                <p class="excerpt">●Built a Parallel Computing Framework which automatically allocates the task to threads and cores using OpenMP.
                                    <br> ● Parallelised Computer Vision programs like person detection, vehicle re-id using OpenCV and OpenMP to increase its speed
                                    by 220%.
                                    <br>● Worked on networking programs of ZMQ Server to efficiently send socket requests to server concurrently.
            </p>
                                <span class="link">
                                    <h6><a class="highlight_link" href="http://iotiot.in/iotwalloffameapr20/">website</a></h6>
                                </span>
                            </div>
                        </div>
            
                    </article>
            <article class="listing-post2">
                <!--             <div class="listing-post__header">
                                <h3 class="listing-post__title"><a href="/research/rp-mask.html">Portable IoT Device for Health Analysis and Management using Edge Computing</a></h3>
                            </div> -->
                
                            
                            <div class="row">
                                <div class="col-lg-4 col-sm-4">
                    <!--                    <a href="/research/rp-mask.html" class="listing-post__image" style="background-image: url(/images/rp1.png);"></a> -->
                
                                    <a class="listing-post__image__work" style="background-image: url(/images/auto.png);"></a>
                                </div>
                
                                
                
                                <div class="listing-post__content col-lg-8 col-sm-12">
                                    <h6>Team Automatons</h6>
                                    <p class="no_margin work_title">Robotics Engineer and Technical Team Member</p>
                                    <div class="proceeding">
                                        <p class="no_margin" id="award">August 2018 - November 2019</p>
                                    </div>
                                    
                                    <p class="excerpt">● Programmed Robotics Path Planning,Inverse Kinematics, Localization & Computer Vision on robots using Python & C++.
                                        <br>● Developed and analysed Embedded and Printed Circuit Boards.
                                        <br>● Worked on prototyping and design of Robots in mechanical manufacturing and Computer Aided Design aspects.
                                        <br>● Tested and implemented robot programs on Raspberry Pi, Arduino, STM32 and ESP32 Boards.
                </p>
                                    <span class="link">
                                        <h6><a class="highlight_link" href="https://teamautomatons.in/">website</a></h6>
                                    </span>
                                </div>
                            </div>
                
                        </article>

    </div>

</section>

<section class="listing single" id="skills">
    <div class="wrap">
        <h1>Skills</h1>
        <p class="excerpt">● Languages : Python , C/C++ , Javascript (React.js, Express)
                        <br>● Frameworks: OpenCV, OpenMP , Tensorflow
                        <br>● Technologies: Computer Vision, Robotics and Path Planning , Parallel Computing , Machine Learning , Embedded Systems, Drones
                        <br>● Electronics : Arduino,ESP32,nRF and Raspberry Pi
                </p>
    </div>
</section>

<section class="listing single" id="awards">
    <div class="wrap grey">
        <h1 class="divider">Awards</h1>
        
          <div id="cards_landscape_wrap-2">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <a href="">
                            <div class="card-flyer">
                                <div class="text-box">
                                    <div class="image-box">
                                        <img src="/images/milken.png" alt="" />
                                    </div>
                                    <div class="text-container">
                                        <h6>Grant of $10,000 USD in Agritech Contest organized by Milken Motsepe Prize and World Food Organization</h6>
                                        <p></p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <a href="">
                            <div class="card-flyer">
                                <div class="text-box">
                                    <div class="image-box">
                                        <img src="/images/intel.png" alt="" />
                                    </div>
                                    <div class="text-container">
                                        <h6>Grand Prize of $1000 USD in Deep Learning Super Hero Contest by Intel Corporation</h6>
                                        <p></p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <a href="">
                            <div class="card-flyer">
                                <div class="text-box">
                                    <div class="image-box">
                                        <img src="/images/nordic.png" alt="" />
                                    </div>
                                    <div class="text-container">
                                        <h6>Runners Up in Advanced Wearables Contest by Nordic Semiconductors</h6>
                                        <p></p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <a href="">
                            <div class="card-flyer">
                                <div class="text-box">
                                    <div class="image-box">
                                        <img src="/images/hackaday.png" alt="" />
                                    </div>
                                    <div class="text-container">                                    
                                        <h6>Top 10 Finalist in Hackaday.io Prize with prize of $500 USD</h6>
                                        <p></p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <a href="">
                            <div class="card-flyer">
                                <div class="text-box">
                                    <div class="image-box">
                                        <img src="/images/deephack.png" alt="" />
                                    </div>
    
                                    <div class="text-container">
                                        <h6>Top 15 Finalist in both Volumes of AI Transatlantic Hackathon (Won Luxonis 3D Spectro Cameras for Computer Vision)</h6>
                                       <p></p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <a href="">
                            <div class="card-flyer">
                                <div class="text-box">
                                    <div class="image-box">
                                        <img src="/images/mlh.png" alt="" />
                                    </div>
                                    <div class="text-container">
                                        <h6>Winner at 6 MLHs (Major League Hackathons)</h6>
                                       <p></p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <a href="https://youtu.be/ZEj7UJyDg9g">
                            <div class="card-flyer">
                                <div class="text-box">
                                    <div class="image-box">
                                        <img src="/images/news.png" alt="" />
                                    </div>
                                    <div class="text-container">
                                        <h6>Got Interviewed in State Level News Channel</h6>
                                       <p></p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <a href="">
                            <div class="card-flyer">
                                <div class="text-box">
                                    <div class="image-box">
                                        <img src="/images/mela.png" alt="" />
                                    </div>
                                    <div class="text-container">
                                        <h6>(CheerUp) Project got showcased in 'MakerMela'-Asia's Largest platform for Makers</h6>
                                       <p></p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <a href="">
                            <div class="card-flyer">
                                <div class="text-box">
                                    <div class="image-box">
                                        <img src="/images/roboc.png" alt="" />
                                    </div>
                                    <div class="text-container">
                                        <h6>Our Team achieved All India Rank of 13 and also won Matlab's Runner Up Prize</h6>
                                       <p></p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <a href="">
                            <div class="card-flyer">
                                <div class="text-box">
                                    <div class="image-box">
                                        <img src="/images/codec.png" alt="" />
                                    </div>
                                    <div class="text-container">
                                        <h6>4 Star Coder at Codechef (Competitive Coding)</h6>
                                       <p></p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    

        
    </div>

</section>

<section class="listing single" id="lab">
    <div class="wrap">
        <h1 class="divider">My Personal Work Lab</h1>

        <div class="flexbin flexbin-margin">
            <img src="/images/l1.jpg" />
            <img src="/images/l2.jpg" />
            <img src="/images/l3.jpg" />
            <img src="/images/l4.jpg" />
            <img src="/images/l5.jpg" />
            <img src="/images/l6.jpg" />
            <img src="/images/l7.jpg" />
            <img src="/images/l8.jpg" />
        </div>
        <!-- <article class="listing-post">
            <a href="{{ post.url | relative_url }}" class="listing-post__image__work" style="background-image: url(/images/l1.jpg);"></a>
        </article>
        <article class="listing-post">
            <a href="{{ post.url | relative_url }}" class="listing-post__image" style="background-image: url(/images/l2.jpg);"></a>
        </article>
        <article class="listing-post">
            <a href="{{ post.url | relative_url }}" class="listing-post__image" style="background-image: url(/images/l3.jpg);"></a>
        </article>
        <article class="listing-post">
            <a href="{{ post.url | relative_url }}" class="listing-post__image" style="background-image: url(/images/l4.jpg);"></a>
        </article>
        <article class="listing-post">
            <a href="{{ post.url | relative_url }}" class="listing-post__image" style="background-image: url(/images/l5.jpg);"></a>
        </article> -->

    </div>

</section>

<!-- Start of HubSpot Embed Code -->
  <script type="text/javascript" id="hs-script-loader" async defer src="//js-eu1.hs-scripts.com/25452327.js"></script>
<!-- End of HubSpot Embed Code -->

{% if paginator.total_pages > 1 %}
<section class="pagination">
    {% if paginator.previous_page %}
    <div class="pagination__prev">
        <a href="{{ paginator.previous_page_path | relative_url }}" class="button button--large"><i class="fa fa-angle-left" aria-hidden="true"></i> <span>Newer Posts</span></a>
    </div>
    {% endif %}
    {% if paginator.next_page %}
    <div class="pagination__next">
        <a href="{{ paginator.next_page_path | relative_url }}" class="button button--large"><span>Older Projects</span> <i class="fa fa-angle-right" aria-hidden="true"></i></a>
    </div>
    {% endif %}
</section>
{% endif %}
