<footer class="footer">

	{% include socials.html %}
	 <a href='https://bachelorthesiswritingservice.com/'>Bachelor Thesis Writing Service</a> <script type='text/javascript' src='https://www.freevisitorcounters.com/auth.php?id=96e9fc1da07de227e34279bef46a6725e87d5744'></script>
<script type="text/javascript" src="https://www.freevisitorcounters.com/en/home/counter/891368/t/5"></script>

	<div class="footer__copyright">
		<span>© {{ 'now' | date: "%Y" }} {{ site.data.settings.basic_settings.site_title }}</span>
	</div>

</footer>
